.jumbotron {
    text-align: center;
    padding: 20px;
    margin-bottom: 5%;
}

.box {
    margin-bottom: 5%;
    width: 90%;
}

.card {
    float: left;
    width: 300px;
    height: 200px;
    margin: 20px;;
}